html
  head
    title #{words.question}?
    link(rel='stylesheet' href='css/style.css')
  body(style="background: linear-gradient(#{words.topcolor}, #{words.bottomcolor});")
    h2(style="color: #{words.questioncolor}; font-family: #{words.questionfont};") #{words.question}?
    h1(style="color: #{words.answercolor}; font-family: #{words.answerfont};") #{words.answer}!
